body{
	background-image:url("assets/hgdBg.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
div.sidePanel{
	width: 25%;
	height:100%;
	background-color: black;
	opacity: 0.5;
}
div.logo{
	height: 25%;
	padding: 12px 12px;
	opacity: 1;
}
img{max-width:100%;max-height:100%;}