html{min-height: 100vh;position:relative;}
body{
	height: 100vh;
	background: url(img/hgdBg.png) no-repeat center center fixed; 
	font-family:"Open Sans";
	color: white;
}
a{text-decoration: none;}
@font-face {
    font-family: "true_liesregular";
    src: url("fonts/truelies/true_lies-webfont.woff2") format('woff2'),
         url("fonts/truelies/true_lies-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
img{max-width:100%;max-height:100%;}
button{font-family:"Open Sans";cursor:pointer;}

div.upperPanel{
	float:top;
	width: 100%;
	height: 20vw;
	margin-top:-20px;
	background-color: rgba(0,0,0,0.5);
	
}div.logo{float:left;height: 20vw;}
div.pageRight{
	//float:center;
	height:100%;
	//max-width:75%;
	margin-top: 50px;
}div.upperPanelButton{
	float:left;
	width:20%;
	height:4vw;
	margin-left:6%;
	margin-top:10%;
}a.upperPanelButton{
	//float:left;
	width:120%;
	height:120%;
	background-color:rgba(0,0,0,0);
	background-image:url("img/button1.png");
	background-size:100% 100%;
	border:none;
	text-align:center;
	font-family: "true_liesregular";
	color: white;
	letter-spacing:5px;
	display:inline-block;
	//position:relative;
	
    vertical-align: middle;
}
span.upperButtonText{
	top:1vw;
	//right:5vw;
	//margin: 0 auto;
	font-size:2.5vw;
	position:relative;
}
div.title{
	font-family: "true_liesregular";
	letter-spacing:5px;
	font-size:50px;
	color:yellow;
}
div.desc{
	font-size:2vmax;
	line-height:2vmax;
}

div.contacts{
	margin-top:50px;
}
.contacts td{
	width:50px;height:50px;
}
.contactsButton{
	background-color:rgba(0,0,0,0);
	background-size:100% 100%;
	border:none;
}


div.portfolio{
	width:100%;
	//max-width:100%;
	//max-height:100%;
}
div.portfolioElement{
	width:50vmax;
	//min-width:30vw;
	max-width:40vmax;
	height:25vmax;
	max-height:20vmax;
	//float:center;
	margin-top:80px;
	//width:100%;
	//min-width:100px;
	//padding-left:10%;
	background-image: url(img/timeline.png);
	background-position:-16vmax -20vmin;
	background-size: 100vmax 80vmin;
	background-repeat:no-repeat;
	background-origin: content-box;
}
.portfolioButton{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0);
	background-size:100% 100%;
	border:none;
	display:inline-block;
}
.sss222.portfolioButton{background-image:url("img/sss222Thumbnail.png");}
.glitchedout.portfolioButton{background-image:url("img/glitcheoutThumbnail.gif");}
.sss77.portfolioButton{background-image:url("img/sss77Thumbnail.png");}
.portfolioDate{font-size:1.4vmax;}