html{min-height: 100vh;position:relative;}
body{
	height: 100vh;
	background: url(img/hgdBg.png) no-repeat center center fixed; 
	font-family:"Open Sans";
	color: white;
}div.bodyoverlay{background-color:rgb(0,0,0,0.5);}
a{text-decoration:none;}
a:link{color:yellow;}
a:visited{color:yellow;}
a:hover{color:red;}
@font-face{
    font-family: "true_liesregular";
    src: url("fonts/truelies/true_lies-webfont.woff2") format('woff2'),
         url("fonts/truelies/true_lies-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
img{max-width:100%;max-height:100%;}
button{font-family:"Open Sans";cursor:pointer;}

div.upperPanel{
	width: 100%;
	height: 20vw;
	margin-top:-20px;
	background-color: rgba(0,0,0,0.5);
}div.logo{float:left;height:20vw;}
div.sss222Logo{float:right;height:20vw;width:30vw;vertical-align: middle;}
div.pageRight{
	//float:center;
	height:100%;
	//max-width:75%;
	margin-top: 50px;
}div.upperPanelButton{
	float:left;
	width:15vw;
	height:4vw;
	margin-left:10%;
	margin-top:10%;
}a.upperPanelButton{
	//float:left;
	width:120%;
	height:120%;
	background-color:rgba(0,0,0,0);
	//background-image:url("img/button1.png");
	background-size:100% 100%;
	border:none;
	text-align:center;
	font-family: "true_liesregular";
	color: white;
	letter-spacing:5px;
	display:inline-block;
	//position:relative;
	
    vertical-align: middle;
}
a.upperPanelButton:hover{
	color:red;
}
span.upperButtonText{
	top:1vw;
	//right:5vw;
	//margin: 0 auto;
	font-size:2.5vw;
	position:relative;
}
div.title{
	font-family: "true_liesregular";
	letter-spacing:5px;
	font-size:50px;
	color:yellow;
	margin-top:-35px;
	margin-bottom:40px;
}
div.desc{
	font-size:2vmax;
	line-height:2vmax;
}

div.contacts{
	margin-top:50px;
}
.contacts td{
	width:50px;height:50px;
}
.contactsButton{
	background-color:rgba(0,0,0,0);
	background-size:100% 100%;
	border:none;
}

div.footer{
	margin-top:4vmin;
	height:2%;
	//background-color: rgb(49,9,49);
	//background-size:100% 100%;
	color: white;
}