html{min-height: 100vh;position:relative;}
body{
	height: 100vh;
	background-image:url("img/hgdBg.png");
	background-repeat:no-repeat;
	background-size:190% 160%;
	font-family:"Open Sans";
	color: white;
}
a{text-decoration: none;}
@font-face {
    font-family: "true_liesregular";
    src: url("fonts/truelies/true_lies-webfont.woff2") format('woff2'),
         url("fonts/truelies/true_lies-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
img{max-width:100%;max-height:100%;}
button{font-family:"Open Sans";cursor:pointer;}

div.sidePanel{
	float:left;
	width: 40vw;
	height: 100%;
	max-width:25%;
	margin-top:-50px;
	background-color: rgba(0,0,0,0.5);
	
}div.logo{height: 25%;}
div.pageRight{
	float:center;
	height:100%;
	margin-top: 50px;
}a.sidePanelButton{
	width:85%;
	height:6%;
	margin-left:6%;
	margin-top:40%;
	background-color:rgba(0,0,0,0);
	background-image:url("img/button1.png");
	background-size:100% 100%;
	border:none;
	//text-align:center;
	font-family: "true_liesregular";
	color: white;
	letter-spacing:5px;
	display:inline-block;
	position:relative;
}
span.sideButtonText{
	//top:2vh;
	right:5vw;
	font-size:2.5vw;
	position:absolute;
}
div.title{
	font-family: "true_liesregular";
	letter-spacing:5px;
	font-size:50px;
	color:yellow;
}
div.desc{
	font-size:20px;
	line-height:28px;
}

div.contacts{
	margin-top:50px;
}
.contacts td{
	width:50px;height:50px;
}
.contactsButton{
	background-color:rgba(0,0,0,0);
	background-size:100% 100%;
	border:none;
}


div.portfolio{
	//max-width:100%;
	//max-height:100%;
}
div.portfolioElement{
	//float:center;
	margin-top:40px;
	width:50%;
	min-width:100px;
	padding-left:10%;
	background-image:url("img/timeline.png");
	background-position:3vw -187px;
	background-size: 100vw 80vh;
	background-repeat:no-repeat;
	
}
.portfolioButton{
	width:50vw;
	min-width:10vw;
	max-width:30vw;
	height:25vw;
	max-height:15vw;
	background-color:rgba(0,0,0,0);
	background-size:100% 100%;
	border:none;
	text-align:center;
	font-family: "true_liesregular";
	font-size:100%;
	color: white;
	letter-spacing:5px;
	display:inline-block;
}
.sss222.portfolioButton{background-image:url("img/sss222Thumbnail.png");}
.glitchedout.portfolioButton{background-image:url("img/glitcheoutThumbnail.gif");}
.sss77.portfolioButton{background-image:url("img/sss77Thumbnail.png");}
.portfolioDate{margin-left:50px;}